.login {
      &-wrapper {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $aqua;
      }
      &-button {
            height: 72px;
            padding: 0px 40px;
            border-radius: 44px;
            min-width: 300px;
            color: $gray;
            border: none;
            font-weight: bold;
            font-size: 18px;
      }
}